@charset "UTF-8";

.menu{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f5fffd;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.logo{
    color: #FFAA00;
    font-size: 25px;
}

.menu .itens{
    display: flex;
    justify-content: center;
    font-size: 115%;
}

.menu .itens .categoria{
    padding-left: 15px;
    padding-right: 15px;
}

.menu .itens .categoria .nav-link{
    color: orange
}

.rodape{
    display: flex;
    justify-content: space-between;
    background-color:teal;
    height: 260px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.rodape .direita{
    text-align: center;
    width: 40%;
    background-color: none;
}

.rodape .direita .logo{
    padding-bottom: 10%;
}

.endereco{
    padding-bottom: 10%;
    color: #F6FAF9;
}

.rodape .esquerda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 55%;
    height: 80%;
}

.rodape .esquerda .lista{
    width: 100%;
    height: 100%;
    padding: 1%;
}

.esquerda .lista .titulo{
    color: orange;
    font-size: 1.2rem;
    padding: 5%;
}

.lista .itens{
    align-content: space-between;
    color: #F6FAF9;
    padding: 8px;

}

.lista .itens a{
    text-decoration: none;
    color: #F6FAF9;

}
.lista .itens a:hover{
    font-weight: 500;
}

.menu .itens .categoria:hover{
    font-weight: 500;
}
    
hr{
    margin: 0;
    color: orange;
    opacity: 90%;
}

.dev{
    background-color:teal;
    height: 10%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #F6FAF9;
    font-size: 80%;
}

.dev a{
    text-decoration: none;
    color: #F6FAF9;
}

.dev a:hover{
    font-weight: 500;
}

.first{
    display: flex;
    justify-content: space-between;
    background-color:  #f5fffd;
    padding-left: 10%;
    padding-right: 10%;
}

.first .esquerda{
    text-align: justify;
    padding-bottom: 5%;
    padding-top: 5%;
    width:  65%;
    
}

.first .esquerda .titulo{
    font-size: 1.5rem;
    padding-bottom: 5%;

}

.first .direita{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    width:  65%;
}    

.faq{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: #f5fffd;
}

.faq .titulo{
    font-size: 1.5rem;
    padding-bottom: 2%;
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: orange;
    font-weight: 600;
    background-color: #ffffee;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button{
    background-color: #f5fffd;
}

.accordion-flush .accordion-collapse{
    background-color: #ffffff;
    font-weight: 500;
}

.carousel-control-next, .carousel-control-prev{
    width: 8%;
}

.depoimento{
    display: block;
    width: 100%;
    margin: auto;
    border: red solid;
    height: 425px; 

}

.depoimento .esquerda{
    display: flex;
    height: 40%;
    width: 100%;
    margin: 5px;
    padding-right: 40%;
}

.depoimento .esquerda .foto{
    width: 20%;
    height: 100%;
    border: blue solid;

}

.depoimento .esquerda .pessoa1{
    background-image: url("../img/pessoa1.jpg");
    background-position: center;
    background-size: auto;
}

.depoimento .direita .pessoa2{
    background-image: url("../img/pessoa2.jpg");
    background-position: center;
    background-size: auto;
}

.depoimento .esquerda .pessoa3{
    background-image: url("../img/pessoa3.jpg");
    background-position: center;
    background-size: auto;
}

.depoimento .direita .pessoa4{
    background-image: url("../img/pessoa4.jpg");
    background-position: center;
    background-size: auto;
}

.depoimento .esquerda .pessoa5{
    background-image: url("../img/pessoa5.jpg");
    background-position: center;
    background-size: auto;
}

.depoimento .direita .pessoa6{
    background-image: url("../img/pessoa6.jpg");
    background-position: center;
    background-size: auto;
}

.depoimento .esquerda .texto{
    border: black solid;
    width: 80%;
    height: auto;
}

.depoimento .direita{
    display: flex;
    height: 40%;
    width: 100%;
    margin: 5px;
    padding-left: 40%;
}

.depoimento .direita .foto{
    width: 20%;
    height: 100%;
    border: blue solid;
}

.depoimento .direita .texto{
    border: black solid;
    width: 80%;
    height: auto;
}

